@import '../base/variables';

.btn {
    border-radius: 20px;
    width: 180px;
    padding: 16px 32px;
    border: 0;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-size: 1.1rem;

    &--primary {
        color: $violet-color;
        background-color: #fff;

        &:hover {
            background-color: $soft-magenta;
            color: #fff;
        }
    }
}
